@model LoginViewModel
@{
    ViewData["Title"] = "ورود";
    Layout = "_Layout";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4">ورود به اُرب</h2>
                    
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">نام کاربری</label>
                            <input asp-for="Username" class="form-control" placeholder="نام کاربری یا ایمیل"/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">رمز عبور</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-4 form-check">
                            <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                            <label asp-for="RememberMe" class="form-check-label">مرا به خاطر بسپار</label>
                        </div>
                        
                        <button type="submit" class="btn btn-dark w-100 py-2">ورود</button>
                    </form>
                    
                    <div class="mt-4 text-center">
                        <p>حساب کاربری ندارید؟ <a href="/Account/Register" class="text-decoration-none">ثبت نام</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>