@{
    ViewData["Title"] = "درباره اورب";
   
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
   
<div class="container py-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <article class="post">
    
                <header class="mb-4">
                    <h1 class="post-title">درباره اورب</h1>
                </header>
                <div class="post-content">
                    <p>به اورب خوش آمدید؛ برنامه‌ای انقلابی در حوزه رسانه‌های اجتماعی که با هدف ارتباط برقرارکردن میان افراد به شیوه‌هایی نوآورانه و هیجان‌انگیز طراحی شده است. پلتفرم ما بر تجربه کاربری متمرکز است تا شما بتوانید به اشتراک‌گذاری، کشف، و تعامل با محتوای مورد علاقه خود بپردازید.</p>

                    <h2>ماموریت ما</h2>
                    <p>در اورب، ماموریت ما ایجاد یک جامعه پویا است که کاربران در آن بتوانند آزادانه افکار خود را بیان کرده و با دیگرانی که علایق مشترکی دارند، ارتباط برقرار کنند. ما به قدرت رسانه‌های اجتماعی برای به هم نزدیک کردن افراد و پرورش روابط معنادار اعتقاد داریم.</p>

                    <h2>ویژگی‌ها</h2>
                    <ul>
                        <li><strong>رابط کاربری شهودی:</strong> طراحی دوستدار کاربر ما تضمین می‌کند که به راحتی بتوانید در برنامه حرکت کنید.</li>
                        <li><strong>محتوای جذاب:</strong> دنیایی از محتوای متنوع منطبق بر علایق شما را کشف کنید.</li>
                        <li><strong>تمرکز بر جامعه:</strong> به گروه‌ها و بحث‌هایی بپیوندید که با شما هم‌صدا هستند.</li>
                        <li><strong>حریم خصوصی در اولویت:</strong> امنیت داده‌های شما از بالاترین اهمیت برخوردار است.</li>
                    </ul>

                    <h2>به ما بپیوندید</h2>
                    <p>امروز به جمع جامعه اورب بپیوندید! ثبت‌نام کنید و شروع به کشف راهی نوین برای ارتباط با دیگران نمایید.</p>
                </div>
               
            </article>
        </div>
    </div>
</div>